<%= form_for(response, url: response_path(slug: response.slug)) do |f| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :response_a, response.team.question_a, class: "control-label" %>
      <%= f.text_field :response_a, class: "form-control" %>
      <%= f.label :response_b, response.team.question_b, class: "control-label" %>
      <%= f.text_field :response_b, class: "form-control" %>
      <%= f.label :response_c, response.team.question_c, class: "control-label" %>
      <%= f.text_field :response_c, class: "form-control" %>
    </p>
  </div>

  <p>
    <%= f.submit class: "btn btn-success"%>
  </p>
<% end %>
