<div class="page-header">
  <h1><%= @response.team.name %></h1>
</div>
<p class="lead">
  <strong><%= @response.user.name %></strong>. Your responses on <%= @response.day.today %>
</p>

<% flash.each do |name, msg| %>
  <%= content_tag :div, class: "alert alert-#{ name == 'error' ? "danger" : "success" } alert-dismissable", role: "alert" do %>
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= msg %>
  <% end %>
<% end %>

<dl>
  <dt><%= @response.team.question_a %></dt>
  <dd><%= @response.response_a %></dd>
  <dt><%= @response.team.question_b %></dt>
  <dd><%= @response.response_b %></dd>
  <dt><%= @response.team.question_c %></dt>
  <dd><%= @response.response_c %></dd>
</dl>

<footer class="footer">
  Changed your mind? Don't worry, <%= link_to 'you can change your responses', edit_response_path(slug: @response.slug) %> again
</footer>
