<div class="page-header">
  <h1><%= @response.user.name %></h1>
</div>
<p class="lead">
  Your responses for <strong><%= @response.team.name %></strong> on <%= @response.day.today %>
</p>

<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<dl>
  <dt><%= @response.team.question_a %></dt>
  <dd><%= @response.response_a %></dd>
  <dt><%= @response.team.question_b %></dt>
  <dd><%= @response.response_b %></dd>
  <dt><%= @response.team.question_c %></dt>
  <dd><%= @response.response_c %></dd>
</dl>

<footer class="footer">
  Changed your mind? Don't worry, <%= link_to 'you can change your responses', edit_response_path(@response, slug: @response.slug) %> again
</footer>
