<div class="page-header">
  <h1><%= @response.team.name %></h1>
</div>
<p class="h4">
  <strong><%= @response.user.name %></strong>. Your responses for <strong><%= format_date @response.day.today %></strong>
</p>
<p></p>

<dl>
  <dt><%= @response.team.question_a %></dt>
  <dd><%= @response.response_a %></dd>
  <dt><%= @response.team.question_b %></dt>
  <dd><%= @response.response_b %></dd>
  <dt><%= @response.team.question_c %></dt>
  <dd><%= @response.response_c %></dd>
  <%# This sample demostrates CoffeeScript is enabled %>
  <%#= button_tag 'sample', class: "btn btn-info", id: 'btn_sample' %>
</dl>

<footer class="footer">
  <% if @response.on_time? %>
    <p class="text-info">Changed your mind? Don't worry, <%= link_to 'you can change your responses', edit_response_path(slug: @response.slug), class: 'text-success' %>
      until <%= format_datetime @response.day.standup_end %>
      <span class="countdown" data-time="<%= time_to_js @response.day.standup_end %>">  (time left)
        <%# new Date(parseFloat($('.countdown').data('time'))) %>
      </span>
    </p>
  <% else %>
    <p class="text-danger">
      You cannot edit your responses due standup time has finished
    </p>
  <% end %>
</footer>
