<!DOCTYPE html>
<html>
  <head>
    <title>DailyStandUp</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <noscript>
        <div class="alert alert-warning" role="alert">
          <strong>This application needs JavaScript enabled in your browser. </strong> <a href="http://www.enable-javascript.com" class="alert-link">Here is how to enable it.</a>
        </div>
      </noscript>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == 'error' ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= msg %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
